{% extends "base.html" %}
{% block title %}Student List{% endblock title %}
{% block body %}
<style>
  body{
    background-image: linear-gradient(to right, #DECBA4, #3E3132);
 }
</style>
<a class="btn btn-success mt-4 mb-4 ms-4" href="/student/add">Add Student</a>
<table class="table table-bordered">
    <thead>
      <tr> <!--row-->
        <th scope="col">Roll Number#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Class</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Fees</th>
        <th scope="col">Join Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th>
            {{student.roll_number}}
        </th>
        
        <td>
          {{student.first_name|capfirst}}
        </td>
        <td>
          {{student.last_name|capfirst}}
        </td>
        <td>
          {{student.student_class}}
        </td>
        <td>
          {{student.date_of_birth|date:"l d-m-Y"}}
        </td>
        <td>
          {{student.fee}}
        </td>
        <td>
            {{student.join}}
        </td>
        <td>
            <a class="btn btn-primary" href="#">View</a>
            <a class="btn btn-danger" href="#">Delete</a>
            <a class="btn btn-secondary" href="#">Edit</a>
        </td>
       </tr>
    {% endfor %} 
    </tbody>
  </table>
  </html>
{% endblock %}