{% extends 'base.html' %}

{% block title %}Teachers List{% endblock title %}
{% block body %}
<style>
    .name{
        color: white;
        font-size: 16 px;
        font-family: Verdana, Arial, sans-serif;
    }
    body{
    background-image: linear-gradient(to right, #DECBA4, #7E4266);
 }
</style>

<a class="btn btn-success mt-4 mb-4 ms-4" href= "#">Add Teacher</a>

<table class="table table-dark table-striped">
    <thead>
    <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Last</th>
    <th scope="col">Class</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Actions</th>

    </tr>
</thead>
<tbody>
    {% for teacher in teachers %}
        <tr>
            <td>
                {{teacher.first_name}}
            </td>
            <td>
                {{teacher.last_name}}
            </td>
            <td>
                {{teacher.teacher_class}}
            </td>
            <td>
                {{teacher.date_of_birth}}
            </td>
            <td>
                    <a class="btn btn-success " href="#">View</a>
                <a class="btn btn-primary ms-1" href="#">Edit</a>
                <a class="btn btn-danger ms-1" href="#">Delete</a>

            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock body %}